<h1>Form</h1>

<%= form_tag("/result", method: "post") do %>

	<script>
	$(function() {
    	$( "#metric_start_date, #metric_end_date" ).datepicker({
    		dateFormat: 'dd/mm/yy',    		
    		changeMonth: true,
        	changeYear: true
    	});    	
	});
	</script>
	
	<h3>Date Search</h3>

	<%= label_tag('Start Date') %>
	<%= text_field(:metric, :start_date, required:true) %><br>
	<%= label_tag('End Date') %>
	<%= text_field(:metric, :end_date, required:true) %><br>

	<h3>Grouping by</h3>
	<%= label_tag('Connection') %>
	<%= check_box(:metric, :connection) %><br>
	<%= label_tag('App') %>
	<%= check_box(:metric, :app) %><br>
	<%= label_tag('Platform') %>
	<%= check_box(:metric, :platform) %><br>
	<%= label_tag('Country') %>
	<%= check_box(:metric, :country) %><br>

	<%= submit_tag("Search") %>
<% end %>
