<script>
	$(document).ready(function() {
    	$('#example').DataTable();
	});
</script>

<h1>Search</h1>

<table id="example" class="display" style="width:100%">
	<thead>
        <tr>
            <th>Date</th>
            <% if @metric[:connection] == '1' %>
                <th>Connection</th>
            <% end %>
            <% if @metric[:app] == '1' %>
                <th>App</th>
            <% end %>
            <% if @metric[:platform] == '1' %>
                <th>Platform</th>                                
            <% end %>
            <% if @metric[:country] == '1' %>
                <th>Country</th>
            <% end %>
            <th>impressions</th>
            <th>ad_revenue</th>
            <th>ad_cpm</th>
        </tr>
    </thead>
    <tbody>
        <% @connections.each do |connection| %>
        	<tr>
                <td><%= p connection["date"] %></td>
                <% if @metric[:connection] == '1' %>
                    <td><%= p connection["connection"] %></td>
                <% end %>
                <% if @metric[:app] == '1' %>
                    <td><%= p connection["app"] %></td>
                <% end %>
                <% if @metric[:platform] == '1' %>
                    <th>Platform</th>                
                <% end %>
                <% if @metric[:country] == '1' %>             
                    <td><%= p connection["country"] %></td>
                <% end %>
                <td><%= p connection["impressions"] %></td>
                <td><%= p connection["ad_revenue"] %></td>
                <td><%= p connection["ad_cpm"] %></td>	                
        	</tr>
        <% end %>
    </tbody>
</table>

